html {
  background-color: rgb(33, 33, 33);
  color: #f0f0f0;
  font-family: 'Source Sans Pro', sans-serif;
}

p, h1, h2, h3, h4, h5, span {
  color: #f0f0f0;
  font-weight: normal;
}

a {
  color: #f0f0f0;
  text-decoration: none;  
}

a:hover {
  color: #f0f0f0;
  text-decoration: underline;  
}
