html {
  color: #f0f0f0;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  background-color: #444;
}

p, h1, h2, h3, h4, h5, span, li {
  color: #ededed;
  font-weight: normal;
}

pre {
  padding: 10px;
}

pre, code {
  background-color: #fafafa;
  color: #444;
}

a {
  color: #d4fd02;
  text-decoration: none;
  opacity: 0.8;
}

a:hover {
  color: #d4fd02;
  opacity: 1;
}