.footer {
	position: relative;
	background-color: #444;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footerDescription {
  font-size: 20px;
}

.github {
  color: #fff;
}

.icon,
.extension {
  color: #d4fd02;
}

.footer a {
  cursor: pointer;
  transition: all .3s ease-in;
  border-bottom: 2px solid transparent;
  opacity: 1;
}

.footer a:hover {
  opacity: 1;
  border-bottom: 2px solid #d4fd02;
}