.search {
  color: #d4fd02;
  display: inline-block;
  width: 100%;
  background-color: #444;
}

.searchInput {
  display: inline-block;
  float: left;
  width: 100%;
  padding: 5px;
}

.loader {
  color: #d4fd02;
}
